<%- include ('partials/header.ejs') %>


<body class="h-screen w-full flex flex-col justify-center items-center " style="
background-image: url('../img/bg.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
">

    <h1 class="text-9xl font-extrabold text-black tracking-widest">404</h1>
    <div class="bg-[#99D37A] px-2 text-sm rounded rotate-12 absolute">
        Page Not Found
    </div>
    <button class="mt-5">
        <a href="/"
            class="relative inline-block text-sm font-medium text-[#ffffff] group active:text-sky-500 focus:outline-none focus:ring">
            <span
                class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-[#ffffff] group-hover:translate-y-0 group-hover:translate-x-0"></span>

            <span class="relative block px-8 py-3 bg-[#1A2238] border border-current">
                <!-- Invader Zim Reference ?!?!?!?!?!?!?! -->
                <zim-and-dib>Go Home</zim-and-dib>
            </span>
        </a>
    </button>




</body>

</html>