<footer class="bg-gray-900 text-white p-4">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
        <div class="flex-1">
            <p class="text-sm">&copy; 2022 - Made By
                <a href="https://twitter.com/MDC_DEV" class="text-purple-400 font-black">
                    @MDC_DEV
                </a>
                and
                <a href="/credits" class="text-lime-300 font-black">
                    Dragon Maid Team
                </a>
            </p>
        </div>
        <div class="flex-1 text-right">
            <a href="/" class="text-white">
                Dragon Maid FNF Website
            </a>
        </div>
    </div>
</footer>